@font-face {
  font-family: 'iconfont';  /* project id 1936219 */
  src: url('//at.alicdn.com/t/font_1936219_u4zwd2imb.eot');
  src: url('//at.alicdn.com/t/font_1936219_u4zwd2imb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1936219_u4zwd2imb.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1936219_u4zwd2imb.woff') format('woff'),
  url('//at.alicdn.com/t/font_1936219_u4zwd2imb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1936219_u4zwd2imb.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liaotian:before {
  content: "\e688";
}

.icon-biaoqian:before {
  content: "\e620";
}

.icon-gonggao:before {
  content: "\e734";
}

.icon-fenlei:before {
  content: "\e623";
}

.icon-iconfonticon6:before {
  content: "\e62e";
}

.icon-gongzhonghao:before {
  content: "\e63e";
}

.icon-youxiang:before {
  content: "\e605";
}

.icon-github:before {
  content: "\e651";
}

.icon-duomeiti6:before {
  content: "\e69e";
}

.icon-35_xiangxiajiantou:before {
  content: "\e615";
}

.icon-zhuye:before {
  content: "\e607";
}

.icon-zhifeiji:before {
  content: "\e681";
}

.icon-sang:before {
  content: "\e64f";
}

.icon-dashang:before {
  content: "\e692";
}

