a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var {
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	background: 0 0;
	vertical-align: baseline;
	font-size: 100%
}
body {
	line-height: 1;
	-webkit-overflow-scrolling: touch;
	
}

ol,ul {
	list-style: none
}

blockquote,q {
	quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
	content: "";
	content: none
}

:focus {
	outline: 0
}

ins {
	text-decoration: none
}

del {
	text-decoration: line-through
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a {
	color: unset;
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-user-select: none;
	-moz-user-focus: none;
	-moz-user-select: none;
}

::selection {
	background: #6c5ce7;
	color: #f7f7f7
}

@media screen and (min-width:768px) {
	::-webkit-scrollbar {
		width: 8px;
		height: 8px
	}

	::-webkit-scrollbar-corner {
		background-color: transparent
	}

	::-webkit-scrollbar-thumb {
		border-radius: 2em;
		background-color: #b2dfde;
		background-image: -webkit-linear-gradient(45deg,hsla(0,0%,100%,.4) 25%,transparent 0,transparent 50%,hsla(0,0%,100%,.4) 0,hsla(0,0%,100%,.4) 75%,transparent 0,transparent)
	}
}

:root {
	--radius: 4px;
	--shadow: 0 4px 10px rgba(0,0,0,0.05),0 0 1px rgba(0,0,0,0.1);
	--bgcolor: #fff;
	--blackColor: #4c4948;
	--margin: 5%;
	--light_bg_color: linear-gradient(90deg,rgba(247,149,51,0.1),rgba(243,112,85,0.1) 15%,rgba(239,78,123,0.1) 30%,rgba(161,102,171,0.1) 44%,rgba(80,115,184,0.1) 58%,rgba(16,152,173,0.1) 72%,rgba(7,179,155,0.1) 86%,rgba(109,186,130,0.1))
}

.card-content {
	box-sizing: border-box;
	padding: 21px;
	border-radius: var(--radius);
	box-shadow: var(--shadow)
}

.aside-margin {
	margin: var(--margin) 0
}